*
{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
/**title bar css**/
.title
{
    background-color:transparent;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}
.logo
{
    height: 100px;
    margin-left: 15px;
    margin-right: 10px;
    text-align: center;
}
.menu 
{
    text-align: center;
    width: 60%;
}
.menu a
{
    text-align: center;
    margin-left:40px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
}
.menu a:hover
{
    color: rgb(255, 0, 0);
    text-decoration: underline;   
}
.data
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 120px;
    
}
.hero
{
    border: 3px solid rgba(5, 38, 250, 0.677);
    border-radius: 50%;
    height:350px;
    padding: 5px;
    background-color: rgb(54, 220, 246);
    box-shadow:0 0 20px rgb(0, 13, 255);
    transition: all 2s;
}
.hero:hover
{
    box-shadow: 0 0 100px rgb(249, 4, 4);
    border-color: rgb(255, 30, 0);
}
.intro
{
    padding: 100px;
    width: 55%;
    padding: 50px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.988);
}
.foot
{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1px;
    height: 40px;
    color: rgb(255, 0, 0);
    background-color: black;
    font-size: 12px;
    font-weight: 700;   
}
